<section>
  <header>
    <h1>
      <span class="title"><%= t('FailedJobs') %></span>
      <span class="badge badge-secondary"><%= number_with_delimiter(@failures.count) %></span>
    </h1>
    <% if @failures.count > 0 && @total_size > @count %>
      <%= erb :_paging, :locals => { :url => "#{root_path}failures" } %>
    <% end %>
    <%= filtering('failures') if respond_to?(:filtering) %>
  </header>

  <% if @failures.count > 0 %>
    <form action="<%= root_path %>failures" method="post">
      <%= csrf_tag if respond_to?(:csrf_tag) %>
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th width="20px" class="table-checkbox">
                <label>
                  <input type="checkbox" class="check_all" />
                </label>
              </th>
              <th><%= t('FailedAt') %></th>
              <th><%= t('Queue') %></th>
              <th><%= t('Worker') %></th>
              <th><%= t('Arguments') %></th>
              <th><%= t('Error') %></th>
            </tr>
          </thead>
          <% @failures.each do |entry| %>
            <tr>
              <td class="table-checkbox">
                <label>
                  <input type='checkbox' name='key[]' value='<%= job_params(entry.item, entry.score) %>' />
                </label>
              </td>
              <td>
                <a href="<%= root_path %>failures/<%= job_params(entry.item, entry.score) %>"><%= safe_relative_time(entry['failed_at']) %></a>
              </td>
              <td>
                <a href="<%= root_path %>queues/<%= entry.queue %>"><%= entry.queue %></a>
              </td>
              <td><%= entry.respond_to?(:display_class) ? entry.display_class : entry.klass %></td>
              <td>
                <code>
                  <div class="args"><%= display_args(entry.respond_to?(:display_args) ? entry.display_args : entry.args) %></div>
                </code>
              </td>
              <td>
                <% error_class = entry['error_class'].to_s %>
                <% error_message = entry['error_message'].to_s %>
                <% error_text = "#{h(error_class)}: #{h(error_message)}" %>
                <% truncated_error = truncate(error_text, 200) %>

                <% if entry['error_backtrace'] %>
                  <details>
                    <summary>
                      <%= truncated_error %>
                    </summary>
                    <% if entry['error_backtrace'] %>
                      <code>
                        <%= entry['error_backtrace'].join("<br/>") %>
                      </code>
                    <% end %>
                  </details>
                <% else %>
                  <div>
                    <%= truncated_error %>
                  </div>
                <% end %>
                <div>
                  <span>Processor: <%= entry['processor'] %></span>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="buttons-row">
        <input class="btn btn-primary btn-xs pull-left" type="submit" name="retry" value="<%= t('RetryNow') %>" />
        <input class="btn btn-danger btn-xs pull-left" type="submit" name="delete" value="<%= t('Delete') %>" />
      </div>
    </form>

    <div class="buttons-row">
      <form action="<%= root_path %>failures/all/delete" method="post">
        <%= csrf_tag if respond_to?(:csrf_tag) %>
        <input class="btn btn-danger btn-xs pull-right" type="submit" name="delete" value="<%= t('DeleteAll') %>" data-confirm="<%= t('AreYouSure') %>" />
      </form>
      <form action="<%= root_path %>failures/all/retry" method="post">
        <%= csrf_tag if respond_to?(:csrf_tag) %>
        <input class="btn btn-danger btn-xs pull-right" type="submit" name="retry" value="<%= t('RetryAll') %>" data-confirm="<%= t('AreYouSure') %>" />
      </form>
    </div>

    <% if @failures.count > 0 && @total_size > @count %>
      <div>
        <%= erb :_paging, :locals => { :url => "#{root_path}failures" } %>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-success"><%= t('NoFailedJobsFound') %></div>
  <% end %>

  <div class="buttons-row">
    <form action="<%= root_path %>failures/all/reset" method="post">
      <%= csrf_tag if respond_to?(:csrf_tag) %>
      <input class="btn btn-danger btn-xs pull-right" type="submit" name="reset" value="<%= t('ResetCounter') %>" data-confirm="<%= t('AreYouSure') %>" />
    </form>
  </div>
</section>
